li{
    list-style-type: none;
}

.home-cont, .agenda-cont, .sen-dec-cont{
    display:flex;
    flex-direction: row;
    height:100%;
    height: calc(100vh - 57px - 2rem);
}


.agenda-menu{
    height:100%;
    /* background:grey; */
    
    
}

div.left-pane, div.center-pane, div.right-pane{
    display: flex;
    flex-direction: column;
    padding-top:15px;
    padding-left:40px;
    border-right: 1px black dashed;
}

div.agenda-menu, div.agenda-submenu{
    /* padding-top:0; */
}

div.right-pane{
    padding-top:40px;
    width:75%;
}

li.clickable {
    padding:10px;
    /* padding-left:0; */
    cursor: pointer;
}

li.clickable:hover {
    cursor: pointer;
    background-color: darkgray;
}

div.point_history_tile{
    width:75%;
    margin:auto;
    margin-bottom: 3rem;;
}

div.point_history_tile>h5{
    color:gray;
}

div.point_history_tile>p{

}

div.changes-data{
    padding-top:15px;
}

div.changes-data>h2{
    width:75%;
    margin:auto;
    margin-bottom: 20px;
}


form.sen_dec_form, form.ag_pt_create_form, form.ag_pt_view, form.up_hb_form{
    width:75%;
    margin:auto;
}

form.sen_dec_form>div, form.up_hb_form>div, form.ag_pt_create_form>div, form.ag_pt_view>div{
    display:flex;
    justify-content: center;
    padding: 1rem 0;
}

form.sen_dec_form .btn,form.ag_pt_create_form .btn,form.ag_pt_view .btn,form.up_hb_form>div>*{
    margin: 0 1rem;
}

form.up_hb_form input, form.sen_dec_form input{
    margin-bottom:20px;
}